{% extends "page.html" %}

{% load static shared events %}
{% get_static_prefix as STATIC_PREFIX %}

{% block page_title %}
    {# lidsky srozumitelny titulek #}
    <h1>
        {% if agenda_item.htitle %}
            {{ agenda_item.htitle }}
        {% else %}
            <small>Srozumitelný titulek k tomuto bodu ještě nikdo nenavrhl… &nbsp;
            <a href="#" class="btn">Zkuste to Vy!</a></small>
        {% endif %}
    </h1>
{% endblock %}

{% block page_left %}
    {# oficialni nazev bodu #}
    <header class='blog-header'>
        <h2>
            <span title="Oficiální název bodu">{{ agenda_item.item }}.&nbsp;{{ agenda_item.title }}</span><br />
            <small><a href="{{ agenda_item.agenda.get_absolute_url }}">{{ agenda_item.agenda.order }}. {{ agenda_item.agenda.get_type_display|lower }} jednání zastupitelstva z {{ agenda_item.agenda.date|date }}</a>,
            <a href="{% url agenda-list year_from=url_year_from year_to=url_year_to %}">volební období {{ agenda_item.agenda.term|endasher }}</a></small>
        </h2>
    </header>

    {# popis bodu #}
    {% if agenda_item.description %}
        {{ agenda_item.description|safe }}
    {% else %}
        <p><em>Popis tohoto bodu ještě nikdo nesepsal.</em></p>
        <p><a href="#" class="btn">Troufnete si?</a></p>
    {% endif %}

    {% comment %}
    TODO: seznam dotazu "Nerozumim"
    <h3>Nerozumíme...</h3>

    <ol>
       <li><strong>TODO</strong></li>
    </ol>
    {% endcomment %}
{% endblock %}

{% block page_right %}
    {# celkovy verdikt hlasovani #}
    {% if total_voting.valid_count == 1 %}
        {% comment %}
            Hlasovani mohlo byt klidne 10, ale platne (tj. nezmatecne) jen
            jedno. V tomto pripade muzeme hned interpretovat vysledek.
        {% endcomment %}
        {% for voting_key, total_vote in total_voting.data.items %}
            {% if not total_vote.confused %}
                <div class="pull-center">
                    <i class="{{ total_vote.icon }} enormous-icon circled pull-center"></i>
                    <h3>{{ total_vote.label }}</h3>
                    {#<p><a href="#bottom-tab">{% verdikt total_voting.data voting_key %}</a></p>#}
                </div>
            {% endif %}
        {% endfor %}
        {% if total_voting.confused_count > 0 %}
            {% comment %}
                Jak uz bylo zmineno, platne hlasovani bylo jen jedine, ale
                k nemu se mohli dopracovat pres X zmatecnych. Pokud to tak
                je, dame o tom vedet.
            {% endcomment %}
            <p class="pull-center"><strong>Upozornění</strong><br />Během
            projednávání došlo k nestandardní situaci, a některé z hlasování
            bylo prohlášeno za zmatečné.<br />
            <a href="#bottom-tab">Podrobnosti níže</a></p>
        {% endif %}
    {% elif total_voting.valid_count > 1 %}
        {% comment %}
            U bodu se hlasovalo nekolikrat. Muze tomu dojit v pripadech, kdy
            se ad hoc behem projednavani objevi protinavrh, nebo na zadost
            nektereho zastupitele se hlasuje o kazdem z podbodu zvlast, apod.

            V tomto pripade by bylo zavadejici zobrazovat nejaky celkovy verdikt.
            Pouze tuto skutecnost oznamime a nechame lidi at se sami presvedci
            jak to dopadlo o par radku nize...
        {% endcomment %}
        <div class="pull-center">
            <i class="{{ total_voting.multiple_icon }} enormous-icon circled pull-center"></i>
            <h3>Víceré hlasování</h3>
            <p class="pull-center">Během schvalování tohoto bodu se hlasovalo
            několikrát.<br /><a href="#bottom-tab">Podrobnosti níže</a></p>
        </div>
    {% endif %}
{% endblock %}

{% block page_bottom %}
    {# prepinaci taby #}
    <ul id="bottom-tab" class="nav nav-pills">
        {% for total_vote in total_voting.data.values %}
            <li{% if forloop.first %} class="active"{% endif %}>
                <a href="#zastupitele-{{ total_vote.order }}" data-toggle="tab"{% if total_vote.confused %} title="Zmatečné hlasování" class="confused"{% endif %}>Hlasování{% if total_voting.total_count > 1 %}&nbsp;č.{{ total_vote.order }}{% endif %}</a>
            </li>
        {% empty %}
            {# specialni pripad -- hlasovani v DB nemame, ale chceme zalozku zobrazit kvuli vyzve k akci #}
            <li class="active"><a href="#zastupitele" data-toggle="tab">Hlasování zastupitelů</a></li>
        {% endfor %}
    </ul>

    {# obsahy tabu #}
{% comment %}
    TODO:
    - preci jen by tu mohl asi byt ten celkovy verdikt
    - rozdelim tu levou stranu na 1/3 + 2/3 a do mensiho prostoru dam inverzni ikonu s celkovym vysledkem
    - tim ze bude inverzni, tak by se to nemuselo bit s temi parcialnimi vysledky
{% endcomment %}

    <div id="bottom-tabContent" class="tab-content">

        {# hlasovani zastupitelu #}
        {% for voting_key, voting_item in voting.items %}
            <div class="tab-pane fade{% if forloop.first %} in active{% endif %}" id="zastupitele-{{ forloop.counter }}">
                {# uvodni text na tabu s hlasovanim zastupitelu #}
                <div class="row-fluid">
                    <div class="span6">
                        <div class="span4 pull-center">
                            {% variable total_voting.data|key:voting_key as total_vote %}
                            <i class="{{ total_vote.icon }} enormous-icon pull-center"></i>
                            <h3>{{ total_vote.label }}</h3>
                        </div>
                        <div class="span8">
                            {# celkovy vysledek hlasovani #}
                            <h3>Výsledek hlasování</h3>
                            {% if voting_item %}
                                {% if voting_item.description %}
                                    <p>{{ voting_item.description }}</p>
                                {% endif %}
                                {% if not voting_item.confused %}<p>{% verdikt total_voting.data voting_key "." %}</p>{% endif %}
                                <p>
                                    {% for vote in voting_item.data.values %}
                                        {% if vote.votes > 0 %}
                                            {{ vote.label }}&nbsp;{{ vote.votes }}&nbsp;{{ vote.votes|grammar:"0=hlasů,1=hlas,4=hlasy,?=hlasů" }}&nbsp;({{ vote.votes_perc|floatformat:"-1" }}%){% if forloop.last %}.{% else %},{% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </p>
                                {% if not voting_item.confused %}
                                    <p><em>Pro schválení je třeba souhlasu nadpoloviční většiny, tj. celkem {{ total_vote.limit }} hlasů.</em></p>
                                {% endif %}

                                {# na cem konkretne se shodni/neshodli/nerozhodli #}
                                <h4>Přijatá{# TODO: popisek se bude menit podle celkoveho verdiktu #} usnesení</h4>
{% comment %}
    TODO:
    - vypis usneseni
    - asi to bude dalsi model, musim to teprve vymyslet
    - na strance je malo mista na to, aby se tam vypisovalo cele zneni usneseni
    - samotne titluky usneseni budou mozna ve tvaru Z20/01, apod.
    - po kliknuti asi vyskoci vrstva s popisem
{% endcomment %}
                                <ul>
                                    <li><a data-toggle="modal" href="#myModal">Z20/01</a></li>
                                    <li><a data-toggle="modal" href="#myModal">Z20/02</a></li>
                                    <li><a data-toggle="modal" href="#myModal">Z20/02 protinávrh MUDr. Krchňáka</a></li>
                                </ul>

<div id="myModal" class="modal hide" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Usnesení Z20/02, protinávrh MUDr. Krchňáka</h3>
  </div>
  <div class="modal-body">
    <pre style="font-size:10px">
Neinvestiční dotace ze státního rozpočtu, kapitoly 333 Ministerstva školství,
mládeže a tělovýchovy pro příspěvkovou organizací Základní škola Valašské
Meziříčí, Křižná 167, Valašské Meziříčí na realizaci projektu „Nová škola"
v rámci Operačního programu Vzdělávání pro konkurenceschopnost do
rozpočtu města Valašské Meziříčí na rok 2012 ve výši 1.747.968,- Kč

1.   Zastupitelstvo města schvaluje přijetí neinvestiční dotace ze státního
     rozpočtu, kapitoly 333 - Ministerstva školství, mládeže a tělovýchovy -
     Operační program Vzdělávání pro konkurenceschopnost ve výši
     1.747.968,- Kč pro příspěvkovou organizaci Základní škola Valašské
     Meziříčí, Křižná 167, 757 01 Valašské Meziříčí, IČ: 45211451 na
     realizaci projektu "Nová škola".
2.   Zastupitelstvo města schvaluje navýšení rozpočtu města Valašské
     Meziříčí na rok 2012 o finanční částku ve výši 1.485.772,80 Kč, a to
     následovně:
     − v příjmové části u dotací na položce 4116, org. 0000202000113 –
         Ostatní neinvestiční přijaté transfery ze státního rozpočtu (ZŠ Křižná)
         pod účelovým znakem 32533123,
     − ve výdajové části u Příspěvkových organizací na orj. 3, oddílu (§)
         3113, položce 5336, org. 0000202003134 – ZŠ Křižná - neinvestiční
         dotace - Vzdělávání pro konkurenceschopnost - (Nová škola),
         ÚZ 32533123.
3.   Zastupitelstvo města schvaluje navýšení rozpočtu města Valašské
     Meziříčí na rok 2012 o finanční částku ve výši 262.195,20 Kč, a to
     následovně:
     − v příjmové části u dotací na položce 4116, org. 0000202000114 –
         Ostatní neinvestiční přijaté transfery ze státního rozpočtu (ZŠ Křižná)
         pod účelovým znakem 32133123,
     − ve výdajové části u Příspěvkových organizací na orj. 3, oddílu (§)
         3113, položce 5336, org. 0000202003135 – ZŠ Křižná - neinvestiční
         dotace - Vzdělávání pro konkurenceschopnost - (Nová škola), ÚZ
         32133123.

T: Ihned                                 Zodp.:    Ing. Josef Matocha
                                                   Ing. Zdeněk Studeník
    </pre>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Zavřít</button>
  </div>
</div>

                            {% else %}
                                {% if in_future %}
                                    <p><em>Pro tento bod se ještě nehlasovalo.</em></p>
                                {% else %}
                                    <p><em>Pro tento bod nemáme údaje o hlasování.</em></p>
                                    <p><a href="#" class="btn">Pomožte nám je zadat</a></p>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="span1"> </div>
                    <div class="span5">
{% comment %}
    TODO:
    - navod co delat mozna pod grafem
    - pokud uz hlasoval, tlacitka zmizi (kurzivou nekde (jiz jste hlasoval))
    - je treba aby byl prihlaseny? (tohle zrovna je anonymni, na druhou stranu chceme vytvaret profil pro pozdejsi doporuceni koho volit)
    - pro nektere body je hlasovani zbytecne, typicky bod 1 kde se schvaluji formality
        - mozna pridam flag k hlasovani, jestli je mozne k tomuto bodu hlasovat verejnosti
{% endcomment %}
                        <h3>Názor veřejnosti</h3>
                        <p>Souhlasíte s verdiktem zastupitelů? <a class="btn btn-small" href="#">Ano</a> <a class="btn btn-small" href="#">Ne</a></p>
                        <img src="//chart.googleapis.com/chart?chf=a,s,000000|bg,s,FFFFFF00&chs=300x225&cht=p&chco=008000|FF0000&chd=s:Qt&chl=ANO|NE&chma=20,20,20,20" width="300" height="225" alt="" />
                    </div>
                </div>

                <hr />

                {# vypis hlasovani zastupitelu #}
                <div class="thumbnails bordered people{% if voting_item.confused %} confused{% endif %}">
                    {% if voting_item.data %}
                        {% for vote in voting_item.data.values %}
                            {% if vote.votes > 0 %}
                                <div class="row-fluid">
                                    <div class="span2 pull-center">
                                        <i class="{{ vote.icon }} enormous-icon pull-center"></i>
                                        <h3>{{ vote.label }}</h3>
                                        <p>{{ vote.votes }}&nbsp;{{ vote.votes|grammar:"0=hlasů,1=hlas,4=hlasy,?=hlasů" }}<br />{{ vote.votes_perc|floatformat:"-1" }}%</p>
                                    </div>
                                    <div class="span10">
                                        {% for representative in vote.representatives %}
                                            <div class="span2 pull-center person">
                                                <img src="{% if representative.politician.photo %}{{ representative.politician.photo.url }}{% endif %}" class="img-circle" />
                                                <p><small><a href="#">{{ representative.get_full_name }}</a><br /><a href="#">{{ representative.dparty_short }}</a>{# TODO: <br /><a href="" class="btn btn-mini">Kontaktovat</a>#}</small></p>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% if not forloop.last %}<hr />{% endif %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p><em>O tomto bodu se ještě nehlasovalo</em>.</p>
                    {% endif %}
                </div>
            </div>{# /zastupitele-X #}
        {% empty %}
            <div class="tab-pane fade in active" id="zastupitele">
{# TODO: specos pripad #}
{# TODO: je to tu jen kvuli vyzve k akci -- pomoci pri zadavani hlasu #}
                {# uvodni text na tabu s hlasovanim zastupitelu #}
                <div class="row-fluid">
                    <div class="span6">
                        <p>TODO: uvod 1</p>
                    </div>
                    <div class="span6">
                        <p>TODO: uvod 2</p>
                    </div>
                </div>
            </div>{# /zastupitele #}
        {% endfor %}
    </div>{# /obsahy tabu#}
{% endblock %}

{% comment %}
        {# hlasovani zastupitelu #}
        <div class="tab-pane fade in active" id="zastupitele">

            {# uvodni text na tabu s hlasovanim zastupitelu #}
            <div class="row-fluid">
                <div class="span6">
                    <h3>Výsledek hlasování</h3>
{# TODO: hlasovani muze byt vic... #}
{# TODO: total_voting #}
                    {% if total_vote %}
                        <p>{% verdikt total_vote ":" %}
                            {% for vote in votes.values %}
                                {% if vote.votes > 0 %}
                                    {{ vote.label }}&nbsp;{{ vote.votes }}&nbsp;{{ vote.votes|grammar:"0=hlasů,1=hlas,4=hlasy,?=hlasů" }}&nbsp;({{ vote.votes_perc|floatformat:"-1" }}%){% if forloop.last %}.{% else %},{% endif %}
                                {% endif %}
                            {% endfor %}
                        </p>
                        <p><em>Pro schválení je třeba souhlasu nadpoloviční většiny, tj. celkem {{ total_vote.limit }} hlasů.</em></p>
                    {% else %}
                        {% if in_future %}
                            <p><em>Pro tento bod se ještě nehlasovalo.</em></p>
                        {% else %}
                            <p><em>Pro tento bod nemáme údaje o hlasování.</em></p>
                            <p><a href="#" class="btn">Pomožte nám je zadat</a></p>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="span6">
{# TODO: hlasovani muze byt vic... #}
{# TODO: total_voting #}
                    {% if total_voting %}
                        <h3>Nesouhlasíte s verdiktem zastupitelů?</h3>
                        {# TODO: dopsat co muzou delat #}
                        <ul>
                            <li>Pokud nejsi spokojen s vysledkem, zkontaktuj zastupitele a podel se s nim.</li>
                            <li>Vyjadri svuj nazor v hlasovani verejnosti.</li>
                            <li>Doporuc tuhle stranku na Facebooku a dej vedet svym znamym.</li>
                        </ul>
                        <p>Pokud je nebudeme hlidat, budou si delat co chteji do nekonecna.</p>
                    {% endif %}
                </div>
            </div>

            <hr/>

            {# vypis hlasovani zastupitelu #}
            <div class="thumbnails bordered people">

                {% if voting %}
{# TODO: hlasovani muze byt vic... #}
{# TODO: total_voting #}
                    {% for vote in voting.1.values %}
                        {% if vote.votes > 0 %}
                            <div class="row-fluid">
                                <div class="span2 pull-center">
                                    <i class="{{ vote.icon }} enormous-icon pull-center"></i>
                                    <h3>{{ vote.label }}</h3>
                                    <p>{{ vote.votes }}&nbsp;{{ vote.votes|grammar:"0=hlasů,1=hlas,4=hlasy,?=hlasů" }}<br />{{ vote.votes_perc|floatformat:"-1" }}%</p>
                                </div>
                                <div class="span10">
                                    {% for representative in vote.representatives %}
                                        <div class="span2 pull-center person">
                                            <img src="{% if representative.politician.photo %}{{ representative.politician.photo.url }}{% endif %}" class="img-circle" />
                                            <p><small><a href="#">{{ representative.get_full_name }}</a><br /><a href="#">{{ representative.dparty_short }}</a>{# TODO: <br /><a href="" class="btn btn-mini">Kontaktovat</a>#}</small></p>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% if not forloop.last %}<hr />{% endif %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p><em>O tomto bodu se ještě nehlasovalo</em>.</p>
                {% endif %}
            </div>
        </div>{# /zastupitele #}
{% endcomment %}
