{% extends "page2.html" %}

{% block page_title %}
    <h1>Volební období 2010&mdash;2014</h1>
{% endblock %}

{% block page_content %}
    <ul class="thumbnails thumbnail-list">
        <li class="span6">
            <h2><a href="">20. řádné jednání zastupitelstva</a></h2>
            <p><small>12.července 2012</small></p>
            <ul>
                <li><a href="#">Zrusime Zerotinku?</a></li>
                <li><a href="#">Zrusime Zerotinku?</a></li>
                <li><a href="#">Zrusime Zerotinku?</a></li>
            </ul>
        </li>
        <li class="span6">
            <h2><a href="">19. řádné jednání zastupitelstva</a></h2>
            <p><small>12.července 2012</small></p>
            <ul>
                <li><a href="#">Zrusime Zerotinku?</a></li>
            </ul>
        </li>
        <li class="span6">
            <h2><a href="">16. řádné jednání zastupitelstva</a></h2>
            <p><small>12.července 2012</small></p>
            <ul>
                <li><a href="#">Zrusime Zerotinku?</a></li>
            </ul>
        </li>
        <li class="span6">
            <h2><a href="">14. řádné jednání zastupitelstva</a></h2>
            <p><small>12.července 2012</small></p>
            <ul>
                <li><a href="#">Zrusime Zerotinku?</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}
