Django
django-extensions
django-model-utils
django-debug-toolbar
ipython
-e git+https://github.com/jsocol/bleach.git#egg=bleach
Markdown
PIL
django-ttag
-e hg+https://bitbucket.org/salvator/django-admintools-bootstrap#egg=admintools_bootstrap
