.tint {
	position: relative;
	float: left;
	cursor: pointer;
}

.tint:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,255,255, 0.5);
	-moz-transition: background .3s linear;
	-webkit-transition: background .3s linear;
	-ms-transition: background .3s linear;
	-o-transition: background .3s linear;
	transition: background .3s linear;
}

.tint:hover:before {
	background: none;
}

/* formatovani fotek se zastupiteli */
.people .row-fluid .person {
  margin-left: 0;
    margin-right: 2.5641%;
}

.confused p,
.confused i,
.confused h3,
.confused img {
    opacity: .6;
}

.nav.nav-pills a.confused {
	text-decoration: line-through;
}

.hero-unit h1.small {
    font-size:40px;
    line-height:40px;
}
.hero-unit h1.tiny {
    font-size:30px;
    line-height:30px;
}
